{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'assets/img/logo-fav.png' %}">
    <title>CallMeNow</title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/material-design-icons/css/material-design-iconic-font.min.css' %}"/><!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/lib/jquery.gritter/css/jquery.gritter.css' %}"/>


    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" type="text/css"/>
  </head>
  <body class="be-splash-screen">
    <div class="be-wrapper be-error be-error-404">
      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="error-container">
            <div class="error-number">500</div>
            <div class="error-description">Internal server error. Site administrators have been notified. If you see this again and again, please report the issue to support@callmenowhq.com.</div>
            <div class="error-goback-text">Would you like to go home?</div>
            <div class="error-goback-button"><a href="/app/" class="btn btn-xl btn-primary">Let's go home</a></div>
            <div class="footer">&copy; 2017 CallMeNow Inc.</div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'assets/lib/jquery/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/lib/bootstrap/dist/js/bootstrap.min.js' %}" type="text/javascript"></script>

    <script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
        App.dashboard();
      });
    </script>
  </body>
</html>
