{% extends 'website/base.html' %}


{% block body %}


            <section class="text-center height-30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>Hi ! We are CallMeNow</h2>
                            <p class="lead">
                                CallMeNow is built by a team of talented folks who live in New Delhi, Bangalore and California.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


                        <section>
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="boxed bg--secondary boxed--lg boxed--border">
                                            <h4>Our Values</h4>
                                            <p>
                                                In a world full of software that overcomplicates things, we aim to stand out as a breath of fresh air
                                                for small businesses looking to keep things simple. We work hard to deliver as much value as possible to our customers. Whether we’re empowering them with software or educating them with content, we always strive to be useful. We believe that amazing work doesn’t require an office, and that we can build a great company with everyone on our team living on their own terms. We enjoy the work that we’re fortunate to do, and the people that we’re fortunate to do it with. As crazy as it sounds, we look forward to Mondays. If we believe in it, we find a way to get it done, whether we have the resources or not. Obstacles are not excuses.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>




            <section class="text-center height-20">
                <div class="container">
                    <div class="row">
                        <h2>Help us build the best calling software for small businesses on the planet</h2>
                        <h4>Here is why CallMeNow is a great place to work</h4>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



            <section class="">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>100% Distributed</h5>
                                                <p>
                                                    We don’t have an office, and our entire team is remote. Do your work from absolutely anywhere with an internet connection.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5> Work That Matters</h5>
                                                <p>
                                                    Every day we hear from customers whose businesses have been fundamentally changed for the better by Groove.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5> Competitive Salaries</h5>
                                                <p>
                                                    We know that pay isn’t the only (or even most important) motivation for top performers, but it matters, so we’ve got you covered.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Awesome People</h5>
                                                <p>
                                                    Our team has accomplished a lot, both at work and in life. You’ll join coworkers who bring out the best in you.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Sane Work Schedule</h5>
                                                <p>
                                                    We aren’t into burnout, and we don’t do 60-hour weeks. We’re in this thing for the long haul, and for that we work at a sustainable pace.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5> Flexible Vacation</h5>
                                                <p>
                                                    Need time off? No problem. We don’t count vacation days, and you’ll be measured by the work you get done, not the time you spend doing it.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>



                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                </section>






{% endblock %}
