{% extends 'website/base.html' %}


{% block body %}



<section class="text-center height-50">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h1>Let's talk about your requirements</h1>
                            <p class="lead">
                                Visit us in New Delhi or make contact via the form below to talk more about your project or idea.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>





<section class="switchable ">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5">
                            <p class="lead">
                                E:
                                <a href="#">hello@callmenowhq.com</a>
                                <br /> P: +91 9999-799-833
                            </p>
                            <p class="lead">
                                Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.
                            </p>
                            <p class="lead">
                                We are open from 9am &mdash; 5pm week days.
                            </p>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="row">
                                <form class="form-email" data-success="Thanks for your enquiry, we'll be in touch shortly." data-error="Please fill in all fields correctly." data-recaptcha-sitekey="6LewhCIUAAAAACSwFvBDhgtTbw6EnW6e9dip8o2u" data-recaptcha-theme="light">
                                    <div class="col-sm-6 col-xs-12">
                                        <label>Your Name:</label>
                                        <input type="text" name="Name" class="validate-required" />
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <label>Email Address:</label>
                                        <input type="email" name="Email" class="validate-required validate-email" />
                                    </div>
                                    <div class="col-sm-12 col-xs-12">
                                        <label>Message:</label>
                                        <textarea rows="4" name="Message" class="validate-required"></textarea>
                                    </div>
                                    <div class="col-sm-5 col-md-4 col-xs-6">
                                        <button type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button>
                                    </div>
                                </form>
                            </div>
                            <!--end of row-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


{% endblock %}
