{% extends 'website/base.html' %}


{% block body %}


            <section class="text-center height-20">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-8 col-md-6">
                            <h1>Frequently Asked Questions</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>






<section class="switchable ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 switchable__text">
                                            <ul class="accordion accordion-1">
                                                <li>
                                                    <div class="accordion__title">
                                                        <span class="h5">What happens, when no body is available to take calls ?</span>
                                                    </div>
                                                    <div class="accordion__content">
                                                        <p class="lead">
                                                            Stack follows the BEM naming convention that focusses on logical code readability that is reflected in both the HTML and CSS. Interactive elements such as accordions and tabs follow the same markup patterns making rapid development easier for developers and beginners alike.
                                                        </p>
                                                        <p class="lead">
                                                            Add to this the thoughtfully presented documentation, featuring code highlighting, snippets, class customizer explanation and you've got yourself one powerful value package.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion__title">
                                                        <span class="h5">What happens, if I don't answer an incomming call ?</span>
                                                    </div>
                                                    <div class="accordion__content">
                                                        <p class="lead">
                                                            Stack offers a clean and contemporary to suit a range of purposes from corporate, tech startup, marketing site to digital storefront. Elements have been designed to showcase content in a diverse yet consistent manner.
                                                        </p>
                                                        <p class="lead">
                                                            Multiple font and colour scheme options mean that dramatically altering the look of your site is just clicks away &mdash; Customizing your site in the included Variant Page Builder makes experimenting with styles and content arrangements dead simple.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion__title">
                                                        <span class="h5">Will CallMeNow work on my web browser ?</span>
                                                    </div>
                                                    <div class="accordion__content">
                                                        <p class="lead">
                                                            Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion__title">
                                                        <span class="h5">Can I use CallMeNow on several domains ?</span>
                                                    </div>
                                                    <div class="accordion__content">
                                                        <p class="lead">
                                                            Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion__title">
                                                        <span class="h5">How do I Install CallMeNow on my website ?</span>
                                                    </div>
                                                    <div class="accordion__content">
                                                        <p class="lead">
                                                            Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="accordion__title">
                                                        <span class="h5">Do you provide training ?</span>
                                                    </div>
                                                    <div class="accordion__content">
                                                        <p class="lead">
                                                            Medium Rare is an elite author known for offering high-quality, high-value products backed by timely and personable support. Recognised and awarded by Envato on multiple occasions for producing consistently outstanding products, it's no wonder over 20,000 customers enjoy using Medium Rare templates.
                                                        </p>
                                                    </div>
                                                </li>

                                            </ul>
                                            <!--end accordion-->
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>







{% endblock %}
