{% extends 'website/base.html' %}


{% block body %}

            <section class="cover height-50 text-center">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-sm-6 col-md-8">
                            <h1 class="color--primary">Callback your website visitors in 20 seconds.</h1>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Clock-Back color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        Close more deals. Every website visitor is a potential customer. Talk to them before they leave.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Duplicate-Window color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        CallMeNow increases your inbound call volumes by 50%. Generate more leads.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                        <div class="col-sm-4">
                            <div class="feature feature-2 boxed boxed--border">
                                <i class="icon icon-Life-Jacket color--primary"></i>
                                <div class="feature__body">
                                    <p>
                                        Provide your potential customers with a great means to connect to you over phone.
                                    </p>
                                </div>
                            </div>
                            <!--end feature-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="text-center bg--secondary height-30">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                            <h2>How Does It Work ?</h2>
                            <p class="lead">
                                CallMeNow takes only 5 minutes to install.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

            <section class="switchable switchable--switch bg--secondary text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <ol class="process-3">
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>1</span>
                                    </div>
                                    <div class="process__body" style="text-align: left">
                                        <h4>Your potential customer clicks the CallMeNow button on your website.</h4>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>2</span>
                                    </div>
                                    <div class="process__body" style="text-align: left">
                                        <h4>CallMeNow prompts the user to enter his phone number.</h4>
                                    </div>
                                </li>
                                <li class="process_item">
                                    <div class="process__number">
                                        <span>3</span>
                                    </div>
                                    <div class="process__body" style="text-align: left">
                                        <h4>If you or one of your team members are available, the system creates a call which connects the visitor with you on mobile phone or landline.</h4>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



            <section class="text-center height-20">
                <div class="container">
                    <div class="row">
                        <h2>Features</h2>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>



            <section class="">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Built for teams</h5>
                                                <p>
                                                    Create any number of team members. CallMeNow will automatically assign calls by your choosen rules.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Set Availability and Office Hours</h5>
                                                <p>
                                                    All team members can setup their schedules. CallMeNow will only take calls when any team member is currently available.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature--featured feature-1 boxed boxed--border">
                                                <h5>Capture Leads when Offline</h5>
                                                <p>
                                                    When no team member is available, CallMeNow allows your website visitors to schedule a future call.
                                                </p>
                                                <span class="label">Hot</span>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Create any number of widgets.</h5>
                                                <p>
                                                    You can have separate widgets for departments and different websites. You can assign your team members to various widgets
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Notifications</h5>
                                                <p>
                                                    Get notified on new leads, missed calls and completed calls on your mobile and email
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Awesome support</h5>
                                                <p>
                                                    Even if you get stuck, our smart and fast support team can help at no extra cost.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>



                                    </div>
                                    <!--end of row-->


                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Worldwide Phone Calls</h5>
                                                <p>
                                                    You can make and recieve phone calls to your potential customers located at any part of the world.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Call Recordings</h5>
                                                <p>
                                                    CallMeNow keeps all call recordings. You can review them for quality and training purposes.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h5>Email Reports</h5>
                                                <p>
                                                    Get weekly and monthly summary reports on your email address.
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </div>


                                    </div>
                                    <!--end of row-->

                                </div>
                                <!--end of container-->
                </section>







                            <section class="text-center bg--secondary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8 col-md-6">
                                            <div class="cta">
                                                <h2>Sign up for a free 7 day trial.</h2>
                                                <h5>Buy or cancel any time. 5 minute setup. Plans start at 25$/month</h5>
                                                <a class="btn btn--primary type--uppercase" href="/app/sign-up/">
                                                    <span class="btn__text">
                                                        Sign Up
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>







{% endblock %}
