{% extends 'website/base.html' %}


{% block body %}



            <section class="text-center height-20">
                <div class="container">
                    <div class="row">
                        <h2>Pricing And Signup</h2>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>




<section class=" ">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                                <h3>Basic</h3>
                                                <span class="h2">
                                                    <strong>$25</strong>
                                                </span>
                                                <span class="type--fine-print">Per Month, USD</span>
                                                <hr>
                                                <ul>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>50 Calls</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>1 Widget</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>3 Team members</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Unlimited Domains</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Email Support</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Call Recordings</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Worldwide phone calls</span>
                                                    </li>

                                                </ul>
                                            </div>
                                            <!--end of pricing-->
                                        </div>



                                        <div class="col-sm-4">
                                            <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                                <h3>Value</h3>
                                                <span class="h2">
                                                    <strong>$50</strong>
                                                </span>
                                                <span class="type--fine-print">Per Month, USD</span>
                                                <hr>
                                                <ul>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>150 Calls</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>5 Widgets</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>10 Team members</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Unlimited Domains</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Email Support</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Call Recordings</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Worldwide phone calls</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--end of pricing-->
                                        </div>


                                        <div class="col-sm-4">
                                            <div class="pricing pricing-1 boxed boxed--lg boxed--border">
                                                <h3>Premium</h3>
                                                <span class="h2">
                                                    <strong>$100</strong>
                                                </span>
                                                <span class="type--fine-print">Per Month, USD</span>
                                                <hr>
                                                <ul>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>500 Calls</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Unlimited Widgets</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Unlimited Team members</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Unlimited Domains</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Email Support</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Call Recordings</span>
                                                    </li>
                                                    <li>
                                                        <span class="checkmark bg--primary-1"></span>
                                                        <span>Worldwide phone calls</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!--end of pricing-->
                                        </div>



                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>



            <section class="text-center height-20">
                <div class="container">
                    <div class="row">
                        <h2>For higher plans, please contact us through support or chat.</h2>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>





                            <section class="text-center bg--secondary">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-8 col-md-6">
                                            <div class="cta">
                                                <h2>Sign up for a free 7 day trial.</h2>
                                                <h5>Buy or cancel any time. 5 minute setup. Plans start at 25$/month</h5>
                                                <a class="btn btn--primary type--uppercase" href="/app/sign-up/">
                                                    <span class="btn__text">
                                                        Sign Up
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end of row-->
                                </div>
                                <!--end of container-->
                            </section>






{% endblock %}
