                  <table class="table">
                    <tbody>
                    {% for note in notes %}
                      <tr>
                        <td class="cell-detail" style="width:95%";>
                          <span id="note{{note.id}}">{{note.text}}</span>
                          <span class="cell-detail-description">{{note.user.name}} - {{note.timestamp}}</span>
                        </td>
                        <td style="vertical-align: top;">
                            <a href="#" onclick="deleteNote(event, {{note.id}}, {{lead.id}})"><div class="icon"><span class="mdi mdi-delete"></span></div></a>
                            <a href="#" onclick="editNote(event, {{note.id}})"><div class="icon"><span class="mdi mdi-edit"></span></div></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
