

{% extends 'mainapp/base.html' %}


{% block body %}


      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="panel panel-default">
                <div class="panel-body">
                    <center><h3>Thank You For Your Payment. Your Account Should Reflect The Credits In A Few Minutes</h3></center>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}
