
{% extends 'mainapp/base.html' %}


{% block body %}





      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading"><span class="title">Create New User</span></div>
                <div class="panel-body">

                {% if error %}
                  <div role="alert" class="alert alert-danger">
                    {{error}}
                  </div>
                {% endif %}


                  <form action="" style="border-radius: 0px;" method="post" class="form-horizontal group-border-dashed">

                    {% csrf_token %}

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Name: </label>
                      <div class="col-sm-6">
                        <input type="text" name="name" required="" data-parsley-minlength="5" class="form-control" value="{{request.name}}" >
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Phone: </label>
                      <div class="col-sm-6">
                        <input type="text" name="phone" required = "" data-parsley-minlength="8" data-parsley-type="digits" value="{{request.phone}}" placeholder= "Phone number with country code" class="form-control">
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-3 control-label">E-Mail: </label>
                      <div class="col-sm-6">
                        <input type="text" name="email" value="{{request.email}}" required="" class="form-control">
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-3 control-label">User Type</label>
                      <div class="col-sm-6">
                        <div class="be-radio be-radio-color inline">
                          <input type="radio" {% if request.usertype == "Admin"%}checked{% endif %} name="usertype" id="rad9" value="Admin">
                          <label for="rad9">Admin</label>
                        </div>
                        <div class="be-radio be-radio-color inline">
                          <input type="radio" {% if request.usertype == "Agent"%}checked{% endif %} name="usertype" id="rad10" value="Agent">
                          <label for="rad10">Agent</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">SMS Notifications</label>
                      <div class="col-sm-6">
                        <div class="be-checkbox">
                          <input id="check3" type="checkbox" name="sms_missed_calls" {% if request.sms_missed_calls %}checked{% endif %}>
                          <label for="check3">Missed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check4" type="checkbox" name="sms_completed_calls" {% if request.sms_completed_calls %}checked{% endif %}>
                          <label for="check4">Completed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check5" type="checkbox" name="sms_new_lead" {% if request.sms_new_lead %}checked{% endif %}>
                          <label for="check5">New Lead</label>
                        </div>
                      </div>
                    </div>                    

                    <div class="form-group">
                      <label class="col-sm-3 control-label">E-Mail Notifications</label>
                      <div class="col-sm-6">
                        <div class="be-checkbox">
                          <input id="check6" type="checkbox" name="email_missed_calls" {% if request.email_missed_calls %}checked{% endif %}>
                          <label for="check6">Missed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check7" type="checkbox" name="email_completed_calls" {% if request.email_completed_calls %}checked{% endif %}>
                          <label for="check7">Completed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check8" type="checkbox" name="email_new_lead" {% if request.email_new_lead %}checked{% endif %}>
                          <label for="check8">New Lead</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check9" type="checkbox" name="email_widget_daily_reports" {% if request.email_widget_daily_reports %}checked{% endif %}>
                          <label for="check9">Widget Daily Reports</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check10" type="checkbox" name="email_widget_weekly_reports" {% if request.email_widget_weekly_reports %}checked{% endif %}>
                          <label for="check10">Widget Weekly Reports</label>
                        </div>                        
                      </div>
                    </div>                    


                     <div class="col-xs-6">
                        <p class="text-right">
                          <button type="submit" class="btn btn-space btn-primary btn-xl">Create User And Sent Invitation</button>
                        </p>
                      </div>                                

                  </form>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 


{% endblock %}
