
{% extends 'mainapp/base.html' %}


{% block body %}





      <div class="be-content">
        <div class="main-content container-fluid">
          <div class="row">
            <div class="col-xs-12 col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading"><span class="title">Edit User : {{userobj.name}}</span></div>
                <div class="panel-body">

                {% if error %}
                  <div role="alert" class="alert alert-danger">
                    {{error}}
                  </div>
                {% endif %}

                  <form action="" style="border-radius: 0px;" method="post" class="form-horizontal group-border-dashed">

                                    {% csrf_token %}

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Name: </label>
                      <div class="col-sm-6">
                        <input type="text" name="name" value="{{userobj.name}}" data-parsley-minlength="2" required="" class="form-control">
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Phone: </label>
                      <div class="col-sm-6">
                        <input type="text" name="phone" data-parsley-minlength="8" data-parsley-type="digits" required="" value="{{userobj.phone}}" data-mask="phone-int" class="form-control">
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-3 control-label">E-Mail: </label>
                      <div class="col-sm-6">
                        <input type="text" parsley-type="email" required="" name="email" value="{{userobj.user.email}}"  class="form-control">
                      </div>
                    </div>

{% if request.user.userprofile.usertype != "Agent" %}
              {% if userobj.usertype != "Owner"%}
                    <div class="form-group">
                      <label class="col-sm-3 control-label">User Type</label>
                      <div class="col-sm-6">
                        <div class="be-radio be-radio-color inline">
                          <input type="radio" {% if userobj.usertype == "Admin"%}checked{% endif %} name="usertype" id="rad9" value="Admin">
                          <label for="rad9">Admin</label>
                        </div>
                        <div class="be-radio be-radio-color inline">
                          <input type="radio" {% if userobj.usertype == "Agent"%}checked{% endif %} name="usertype" id="rad10" value="Agent">
                          <label for="rad10">Agent</label>
                        </div>
                      </div>
                    </div>
            {% endif %}
{% endif %}


                    <div class="form-group">
                      <label class="col-sm-3 control-label">Current Availability</label>
                      <div class="col-sm-6">
                        <div class="be-radio be-radio-color inline">
                          <input type="radio" {% if userobj.available == True %}checked{% endif %} name="available" id="rad11" value="True">
                          <label for="rad11">Available</label>
                        </div>
                        <div class="be-radio be-radio-color inline">
                          <input type="radio" {% if userobj.available == False %}checked{% endif %} name="available" id="rad12" value="False">
                          <label for="rad12">Unavailable</label>
                        </div>
                      </div>
                    </div>


                    <div class="form-group">
                      <label class="col-sm-3 control-label">SMS Notifications</label>
                      <div class="col-sm-6">
                        <div class="be-checkbox">
                          <input id="check3" type="checkbox" name="sms_missed_calls" {% if userobj.sms_missed_calls %}checked{% endif %}>
                          <label for="check3">Missed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check4" type="checkbox" name="sms_completed_calls" {% if userobj.sms_completed_calls %}checked{% endif %}>
                          <label for="check4">Completed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check5" type="checkbox" name="sms_new_lead" {% if userobj.sms_new_lead %}checked{% endif %}>
                          <label for="check5">New Lead</label>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">E-Mail Notifications</label>
                      <div class="col-sm-6">
                        <div class="be-checkbox">
                          <input id="check6" type="checkbox" name="email_missed_calls" {% if userobj.email_missed_calls %}checked{% endif %}>
                          <label for="check6">Missed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check7" type="checkbox" name="email_completed_calls" {% if userobj.email_completed_calls %}checked{% endif %}>
                          <label for="check7">Completed Calls</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check8" type="checkbox" name="email_new_lead" {% if userobj.email_new_lead %}checked{% endif %}>
                          <label for="check8">New Lead</label>
                        </div>

                        <!--
                        <div class="be-checkbox">
                          <input id="check9" type="checkbox" name="email_widget_daily_reports" {% if userobj.email_widget_daily_reports %}checked{% endif %}>
                          <label for="check9">Widget Daily Reports</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check10" type="checkbox" name="email_widget_weekly_reports" {% if userobj.email_widget_weekly_reports %}checked{% endif %}>
                          <label for="check10">Widget Weekly Reports</label>
                        </div>
                        -->

                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Availability Hours</label>
                      <div class="col-sm-9">
                        <input type="text" data-slider-value="[{{userobj.available_from}},{{userobj.available_to}}]" data-slider-step="1" data-slider-max="24" data-slider-min="0" name="availability_hours" class="bslider form-control"> (ex. 9 AM - 6 PM, set 9 - 18)
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="col-sm-3 control-label">Weekday Availability</label>
                      <div class="col-sm-6">
                        <div class="be-checkbox">
                          <input id="check11" type="checkbox" name="monday" {% if userobj.monday %}checked{% endif %}>
                          <label for="check11">Monday</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check12" type="checkbox" name="tuesday" {% if userobj.tuesday %}checked{% endif %}>
                          <label for="check12">Tuesday</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check13" type="checkbox" name="wednesday" {% if userobj.wednesday %}checked{% endif %}>
                          <label for="check13">Wednesday</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check14" type="checkbox" name="thursday" {% if userobj.thursday %}checked{% endif %}>
                          <label for="check14">Thursday</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check15" type="checkbox" name="friday" {% if userobj.friday %}checked{% endif %}>
                          <label for="check15">Friday</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check16" type="checkbox" name="saturday" {% if userobj.saturday %}checked{% endif %}>
                          <label for="check16">Saturday</label>
                        </div>
                        <div class="be-checkbox">
                          <input id="check17" type="checkbox" name="sunday" {% if userobj.sunday %}checked{% endif %}>
                          <label for="check17">Sunday</label>
                        </div>

                     <div class="col-xs-6">
                        <p class="text-right">
                          <button type="submit" class="btn btn-space btn-primary btn-xl">Save</button>
                        </p>
                      </div>                                

                  </form>




                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 


{% endblock %}
