
{% extends 'mainapp/base.html' %}


{% block body %}



      <div class="be-content">
        <div class="main-content container-fluid">
          


            <div class="row">
            <!--Bordered Table-->
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">Leads
                </div>
                <div class="panel-body">
                  <table class="table table-condensed table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Status</th>
                        <th>Contact Information</th>
                        <th>Widget</th>
                        <th>Date/Time</th>
                        <th>Manager</th>
                        <th>Call Details</th>
                        <th class="actions"></th>                        
                      </tr>
                    </thead>
                    <tbody>

                    {% for lead in leads %}
                      <tr>
                        <td>{{lead.id}}</td>
                        <td>
                          {% if lead.lead_status == "Uncontacted" %}<span class="label label-danger">Uncontacted</span>{% endif %}
                          {% if lead.lead_status == "Contacted" %}<span class="label label-success">Contacted</span>{% endif %}
                        </td>
                        <td>{% if lead.name != "" %}Name : {{lead.name}}<br />{% endif %}
                            Phone : {{lead.phone}}<br />
                            {% if lead.email != "" %}Email: {{lead.email}}<br />{% endif %}
                            {% if lead.country != "" %}Country: {{lead.country}}{% endif %}
                        </td>
                        <td>{{lead.widget.name}}</td>
                        <td>{{lead.datetime}}</td>
                        <td>
                          {% if lead.owner != null %}
                           {{ lead.owner.name }}
                          {% endif %}

                        </td>
                        <td></td>
                        <td class="actions"><a href="{% url 'mainapp:lead_detail' lead.id%}" class="icon"><i class="mdi mdi-settings"></i></a></td>
                      </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
              </div>
            </div>



          </div>
        </div>
      </div>
 
{% endblock %}
