
{% extends 'mainapp/base.html' %}


{% block body %}



      <div class="be-content">
        <div class="main-content container-fluid">
          


            <div class="row">
            <!--Bordered Table-->
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-heading">Widgets
                  <div class="tools"><a href="{% url 'mainapp:widgets_create_new' %}"><button class="btn btn-space btn-default"><i class="icon icon-left mdi mdi-globe"></i>Create New Widget</button></a></div>
                </div>
                <div class="panel-body">
                  <table class="table table-condensed table-hover table-bordered">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Widget Name</th>
                        <th>Calls currently in queue</th>
                        <th class="actions" width="10%">Edit Settings</th>
                        <th class="actions" width="10%">Edit Appearance</th>
                        <th class="actions" width="10%">Preview</th>
                        <th class="actions" width="15%">Installation Code</th>
                        <th class="actions" width="10%">Link Managers</th>
                      </tr>
                    </thead>
                    <tbody>

                    {% for w in widget %}
                      <tr>
                        <td>{{w.id}}</td>
                        <td>{{w.name}}</td>
                        <td><span class="badge badge-primary">{{w.queuecount}}</span></td>
                        <td class="actions">
                          <a href="{% url 'mainapp:widget_edit' w.id %}" class="icon"><i class="mdi mdi-settings"></i></a> &nbsp; &nbsp;
                        </td>
                        <td class="actions">
                          <a href="{% url 'mainapp:editappearance' w.id %}" class="icon"><i class="mdi mdi-edit"></i></a> &nbsp; &nbsp;
                        </td>
                        <td class="actions">
                          <a href="{% url 'mainapp:directcall' w.id %}" target="_blank" class="icon"><i class="mdi mdi-desktop-windows"></i></a> &nbsp; &nbsp;
                        </td>
                        <td class="actions">
                          <a href="#" onclick="showCode(event, {{w.id}});" class="icon"><i class="mdi mdi-code"></i></a> &nbsp; &nbsp;
                        </td>
                        <td class="actions">
                          <a href="#" onclick="editWidgetAgents(event, {{w.id}}, '{{w.name}}')" class="icon"><i class="mdi mdi-view-list"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>



    <div id="form-bp2" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Assign Managers To Widget <span id="widgetagentname"></span></h3>
          </div>
          <div class="modal-body">

              <span id="widgethtml">
              </span>
              <input type="hidden" id="widgetagentid" value="">

          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default md-close">Close</button>
            <button type="button" data-dismiss="modal" class="btn btn-primary" onclick="WidgetAgentSave(event);">Save</button>
          </div>
        </div>
      </div>
    </div>



  {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/toastr.min.css' %}"/>


    <script type="text/javascript">
      function editWidgetAgents(event, widget_id, widget_name){
        event.preventDefault();
        url = "/ajax/widgets/agents/"+widget_id+"/";
        $.get( url, function( wagents ) {
            wagents = JSON.parse(wagents)
            mstr=""
            for (var i = 0, len = wagents.length; i < len; i++)
            {
              m = wagents[i]
              if(m.added==true){
                checked = "checked";
              } else {
                checked = "";
              }
              str = "<div class='be-checkbox'><input id='check"+m.id+"' type='checkbox' "+checked+" name='widgetagents' value='"+m.id+"'><label for='check"+m.id+"'>"+m.name+" ("+m.usertype+")</label></div>"
              mstr = mstr+str
            }
            document.getElementById("widgetagentname").innerHTML = widget_name
            document.getElementById("widgetagentid").value = widget_id
            document.getElementById("widgethtml").innerHTML = mstr
        });
        $('#form-bp2').modal('show');
      }

      function WidgetAgentSave(event){
        event.preventDefault();
        widget_id = document.getElementById("widgetagentid").value
        url = "/ajax/widgets/agents/"+widget_id+"/";
        myarray = []
        $("input:checkbox[name=widgetagents]:checked").each(function(){
            myarray.push($(this).val());
        });
        myjson = { "myarray" : myarray}
        $.post( url, JSON.stringify(myjson) ).done( function(data){
            data = JSON.parse(data);
            if(data.success==true){
              toastr.success("Saved");
              document.getElementById("widgetagentname").innerHTML = ""
              document.getElementById("widgetagentid").value = 0
              document.getElementById("widgethtml").innerHTML = ""
            } else {
              toastr.success("Error");
            }
        });
      }
    </script>








    <div id="form-bp1" tabindex="-1" role="dialog" class="modal fade colored-header colored-header-primary">
      <div class="modal-dialog custom-width">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Installation Code For Widget #<span id="widgetid"></span></h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <p class="text-success">Copy and paste the following javascript code to the footer section of your website.</p>
<textarea readonly="readonly" class="form-control" rows="14" id="code">

</textarea>

              <br />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick = "copyToClipboard();">Copy to Clipboard</button>
            <button type="button" data-dismiss="modal" class="btn btn-default md-close">Close</button>
          </div>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      function showCode(event, widget_id){
        event.preventDefault();
        document.getElementById("widgetid").innerHTML=widget_id
text = "<!-- begin CallMeNow code -->" +
       "<scr"+"ipt type='text"+"/"+"javas"+"cript'>" +
       "(function(i,s,o,g,r,a,m){i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)};a=s.createElement(o);m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m);})(window,document,'script','https://app.callmenowhq.com/static/widget/sdk.js','callmenow');" +
       "callmenow('"+widget_id+"');" +
       "</scr"+"ipt>"; +
       "<!-- end CallMeNow code -->"
        document.getElementById("code").value = text
        $('#form-bp1').modal('show');
      }
      function copyToClipboard(){
        var copyText = document.getElementById("code");
        copyText.select();
        document.execCommand("Copy");
        toastr.success("Copied to clipboard");
      }
    </script>


          </div>
        </div>
      </div>
 

{% endblock %}
